<%- include('partials/header') %>

<body>
    <center>
        <h1>Course List</h1>
        <table border="1"> 
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
            <%  course.forEach(el => {  %>
                <tr>
                    <td> <%= el.name %> </td>
                    <td> <%= el.description %> </td>
                    <td> <%= el.formattedDuration %> </td>
                    <td>  <button><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Watch Course</a></button>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    </center>
</body>
</html>