<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>
    <center>
        <h1>Category List</h1>
        <table border="1"> 
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <%  for(let i = 0; i < category.length; i++){  %>
                <tr>
                    <td> <%= category[i].id %> </td>
                    <td> <%= category[i].name %> </td>
                    <td>
                    <button><a href="/categories/<%= category[i].id %>">See Detail</a></button>
                    </td>
                </tr>
            <% } %>
        </table>
    </div>
    </center>
</body>
</html>