
<%- include('partials/headerLogin') %>
<body>

    <% if(error) %>
    <h3><%= error %></h3>

    <form class="d-flex justify-content-center" method="post">
        <input type="text" name="username" placeholder= "tulis username lo disini" id="">
        <input type="text" name="password" placeholder= "tulis password lo disini" id="">
        <button type="submit">Login</button>
    </form>

    <a class="d-flex justify-content-center">Belum punya akun?? Daftar dulu atuh bangg</a>
    <a class="d-flex justify-content-center"  href="/register">Pencet ane untuk daptar</a>
</body>
</html>