<%- include('partials/header') %>
<body>
    
    <form method="post">
        <input type="text" name="username" placeholder = "tulis username"  id=>
        <input type="text" name="email"  placeholder = "email disini" id=>
        <input type="text" name="password"  placeholder = "password disini" id=>
        <input type="text" name="role"  placeholder = "role anda"  id=>
        <button type="submit">Register</button>
    </form>

    <a href="/">Back to Home</a>
</body>
</html>