<%- include('partials/headerRegister') %>
<body>
    
    <form class="d-flex justify-content-center" method="post">
        <input type="text" name="username" placeholder = "tulis username disini"  id=>
        <input type="text" name="email"  placeholder = "tulis email disini" id=>
        <input type="text" name="password"  placeholder = "tulis password disini" id=>
        <button type="submit">Register</button>
    </form>

  
</body>
</html>